rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /diveSites/{diveSite} {
      // Allow read to everyone
      allow read: if true;
      
      // Allow write to everyone for now (you might want to add authentication later)
      allow write: if true;
    }
  }
}